.homepage {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin: 10rem 9rem 0 4rem;
  }
  .homepage .hh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
  }
  .homepage .hh h1 {
    font-size: 30px;
  }
  .homepage .hh h1 .name {
    color: rgb(232, 165, 72);
    box-shadow: 0 0px 3px red;
  }
  .homepage .hh h1 .name:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    color: #e75b1f;
    font-size: 40px;
    font-style: oblique;
  }
  .homepage .hh p {
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
    width: 90%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
  }
  .h-btn{
    width: 8rem;
    height: 3rem;
  }
  .h-icon{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .h-icon .s-icon{
    color: rgb(234, 176, 134);
    font-size: 38px;
  }
  .homepage .image{
    position: relative;
  }
  .homepage .image::after {
    content: "";
    height: 400px;
    width: calc(150px + 20vw);
    display: flex;
    position: absolute;
    top: 29px;
    border-radius: 100% 20% 50%;
    z-index: -1;
  }
   .homepage .image .im {
    padding-top: 60px;
    padding-right: 20px;
    height: 550px;
    width: calc(100px + 30vw);
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 100% 100%;
  } 
  .im img {
    position: absolute;
    height: 400px;
    top: 30px;
    border-radius: 70% 20%/20% 0%;
    z-index: 1;
  } */
  .emoji{
    position: absolute;
  }
  .emoji img{
    position: absolute;
    height: 4rem;
    width: 4rem;
    left: 34rem; 
    top: 10rem;
  }
  .blur{
    position: absolute;
    width: 20rem;
    height: 3rem;
    border-radius: 50%;
    top: 25rem;
    right: 30rem;
    filter: blur(32px);
  }
 
  /* Floating css */

  .floatingdiv{
    position: absolute;
    font-size: 26px;
    justify-content: center;
    gap: 20px;
    display: flex;
    background-color: #d6d1d1;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    height: 4.5rem;
    width: 17rem;
    top: 100px;
    left: -100px;
    z-index: 2;
  }
  .floatingdiv .crown{
    font-size: 36px;
    background-color: #e75b1f;
    border-radius: 20px;
  }

  @media screen and (max-width:480px) {
   .homepage{
    flex-direction: column;
   }
   .hh{
    transform: scale(0.8);
    position: relative;
    right: 2rem;
   }
   .image{
    margin-top: -110px;
    margin-bottom: -200px;
    transform: scale(0.5);
   }
   .floating{
    position: absolute;
    left: -1rem !important;
    top: 7rem;
   }
  }