.toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(250, 183, 57);
    border-radius: 1rem;
    position: relative;
    padding: 5px;
    width: 3rem;
    cursor: pointer;
}
.toggle>*{
    width: 0.9rem;
    height: 0.9rem;
    color: rgb(250, 183, 57);
}
.t-button{
    border-radius: 100%;
    background-color: rgb(250, 183, 57);
    position: absolute;
}
